{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-white text-center my-5"> About Page </h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit expedita saepe harum dolorum in? Sed temporibus cumque commodi aspernatur distinctio, quam dolores! Molestiae veniam commodi dolores at explicabo numquam iste magnam quos est non accusamus repudiandae atque quasi ab eos deleniti sint possimus, ducimus sit? Laboriosam repudiandae libero sunt cumque?
    </p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur consectetur libero esse cum dolor at aperiam sequi eligendi impedit repellat. Aliquid doloremque saepe nisi reiciendis velit itaque voluptates dicta atque neque facilis consequuntur vitae eius ex dolores, accusantium quasi a. Fuga rerum, fugit est nisi assumenda omnis voluptatum rem nostrum.</p>
</div>

{% endblock content %}